<form id="dod-importer" autocomplete="off"{{#if identifier}} data-identifier="{{ identifier }}"{{/if}}>
    <p>Agent to import</p>
    <select id="dod-importer-pc-id" class="people_list">
        {{#each pcs as | pc | }}
            <option id="{{pc.data._id}}">{{pc.data.name}}</option>
        {{/each}}
    </select>
    <span>
    <p>Input string</p>
</span>
    <textarea id="dod-importer-charcode" name="charcode">eyJpZCI6ImlqeWZicHpsIiwidmVyc2lvbiI6MTEsInNldHRpbmdTZWxlY3RlZCI6dHJ1ZSwic2V0dGluZ1RpZXIiOjIsInNldHRpbmdUaXRsZSI6IiIsInNldHRpbmdIb21lYnJld0NvbnRlbnQiOltdLCJzZXR0aW5nSG91c2VydWxlcyI6eyJyYW5rLWFkdmFuY2VtZW50LXR5cGUiOiJtaWxlc3RvbmUiLCJza2lsbC1hdHRyaWJ1dGUtYWR2YW5jZW1lbnQtY29zdHMiOiJ2MTUifSwiY3VzdG9tWHAiOjAsImN1c3RvbVJhbmsiOjEsIm5hbWUiOiJTaW1zZWwgU2ltc2VsbWFuIiwic3BlY2llcyI6eyJrZXkiOiJjb3JlLWh1bWFuIiwibGFiZWwiOiJIdW1hbiIsImNvc3QiOjB9LCJmYWN0aW9uIjp7ImtleSI6ImNvcmUtcm9ndWUtdHJhZGVyLWR5bmFzdGllcyIsImxhYmVsIjoiUm9ndWUgVHJhZGVyIER5bmFzdGllcyJ9LCJhcmNoZXR5cGUiOnsia2V5IjoiY29yZS1yb2d1ZS10cmFkZXIiLCJ2YWx1ZSI6IlJvZ3VlIFRyYWRlciIsImNvc3QiOjEwLCJ0aWVyIjoyfSwiYXR0cmlidXRlcyI6eyJzdHJlbmd0aCI6MywiYWdpbGl0eSI6MywidG91Z2huZXNzIjo0LCJpbnRlbGxlY3QiOjMsIndpbGxwb3dlciI6MywiZmVsbG93c2hpcCI6NCwiaW5pdGlhdGl2ZSI6M30sInNraWxscyI6eyJhdGhsZXRpY3MiOjIsImF3YXJlbmVzcyI6MywiYmFsbGlzdGljU2tpbGwiOjQsImN1bm5pbmciOjIsImRlY2VwdGlvbiI6MCwiaW5zaWdodCI6MiwiaW50aW1pZGF0aW9uIjowLCJpbnZlc3RpZ2F0aW9uIjowLCJsZWFkZXJzaGlwIjozLCJtZWRpY2FlIjoxLCJwZXJzdWFzaW9uIjoyLCJwaWxvdCI6MiwicHN5Y2hpY01hc3RlcnkiOjAsInNjaG9sYXIiOjEsInN0ZWFsdGgiOjAsInN1cnZpdmFsIjowLCJ0ZWNoIjoxLCJ3ZWFwb25Ta2lsbCI6MH0sImN1c3RvbVNraWxscyI6W10sImxhbmd1YWdlcyI6W3sibmFtZSI6IkxvdyBHb3RoaWMiLCJjb3N0IjowLCJzb3VyY2UiOiIifV0sImtleXdvcmRzIjpbeyJuYW1lIjoiSW1wZXJpdW0iLCJzb3VyY2UiOiJhcmNoZXR5cGUiLCJ0eXBlIjoia2V5d29yZCJ9LHsibmFtZSI6IlJvZ3VlIFRyYWRlciIsInNvdXJjZSI6ImFyY2hldHlwZSIsInR5cGUiOiJrZXl3b3JkIn0seyJuYW1lIjoiW0R5bmFzdHldIiwic291cmNlIjoiYXJjaGV0eXBlIiwidHlwZSI6InBsYWNlaG9sZGVyIiwicmVwbGFjZW1lbnQiOiJZb3VyIFJvZ3VlIFRyYWRlciBIb3VzZSJ9XSwidGFsZW50cyI6W3siaWQiOiJhdnV6eXRzdCIsIm5hbWUiOiJEZWFkc2hvdCIsImtleSI6ImNvcmUtZGVhZHNob3QiLCJjb3N0IjoyMCwic291cmNlIjoidGFsZW50LmF2dXp5dHN0In1dLCJtdXRhdGlvbnMiOltdLCJwc3ljaGljUG93ZXJzIjpbXSwiYXNjZW5zaW9uUGFja2FnZXMiOltdLCJ3YXJnZWFyIjpbeyJpZCI6ImJzempsc3h0IiwibmFtZSI6IkltcGVyaWFsIEZyaWdhdGUiLCJzb3VyY2UiOiJhcmNoZXR5cGUifSx7ImlkIjoiaHd2enZid3AiLCJuYW1lIjoiU3Rvcm0gQm9sdGVyIiwic291cmNlIjoiYXJjaGV0eXBlIn0seyJpZCI6Im5keHJ1Zm1pIiwibmFtZSI6IkZvcmNlIFN3b3JkIiwic291cmNlIjoiYXJjaGV0eXBlIn0seyJpZCI6InV2dHF6cXNyIiwibmFtZSI6IkxpZ2h0IFBvd2VyIEFybW91ciIsInNvdXJjZSI6ImFyY2hldHlwZSJ9XSwiYmFja2dyb3VuZCI6eyJvcmlnaW4iOiJtZXJjaGFudC1wcmluY2UiLCJhY2NvbXBsaXNobWVudCI6ImRhcmstZnJvbnRpZXIiLCJnb2FsIjoiYmV5b25kLXRoZS1tYXAiLCJwbHVzT25lIjoiZGFyay1mcm9udGllciJ9LCJlbmhhbmNlbWVudHMiOlt7InRhcmdldEdyb3VwIjoidHJhaXRzIiwidGFyZ2V0VmFsdWUiOiJpbmZsdWVuY2UiLCJtb2RpZmllciI6MiwiaGludCI6IlJvZ3VlIFRyYWRlciIsInNvdXJjZSI6ImFyY2hldHlwZSJ9LHsidGFyZ2V0R3JvdXAiOiJza2lsbHMiLCJ0YXJnZXRWYWx1ZSI6InBlcnN1YXNpb24iLCJtb2RpZmllciI6MCwicmFuayI6MSwiY29uZGl0aW9uIjoid2hlbiBhY3F1aXJpbmcgZ29vZHMgYW5kIHNlcnZpY2VzLiIsInNvdXJjZSI6ImFyY2hldHlwZSJ9LHsidGFyZ2V0R3JvdXAiOiJ0cmFpdHMiLCJ0YXJnZXRWYWx1ZSI6ImluZmx1ZW5jZSIsIm1vZGlmaWVyIjowLCJyYW5rIjoxLCJjb25kaXRpb24iOiJ3aGVuIGFjcXVpcmluZyBnb29kcyBhbmQgc2VydmljZXMuIiwic291cmNlIjoiYXJjaGV0eXBlIn0seyJ0YXJnZXRHcm91cCI6InRyYWl0cyIsInRhcmdldFZhbHVlIjoiaW5mbHVlbmNlIiwibW9kaWZpZXIiOjEsInNvdXJjZSI6ImJhY2tncm91bmQucGx1cy1vbmUifV0sIm9iamVjdGl2ZXMiOltdLCJvYmplY3RpdmVBcmNoaXZlZCI6ZmFsc2UsImZhaXRoIjp7InBvaW50cyI6MCwic3BlbmQiOjB9LCJtYXhXb3VuZHMiOnsic3BlbmQiOjB9LCJtYXhTaG9jayI6eyJzcGVuZCI6MH0sImFzc2V0cyI6eyJwb2ludHMiOjB9LCJ3ZWFsdGgiOnsicG9pbnRzIjowLCJzcGVuZCI6MH0sIndyYXRoIjp7InBvaW50cyI6Miwic3BlbmQiOjB9LCJyZWxvYWRzIjp7InBvaW50cyI6Mywic3BlbmQiOjB9LCJkZWZpYW5jZSI6eyJwYXNzZWQiOjAsImZhaWxlZCI6MH0sImZsdWZmIjp7Im5vdGVzIjoiIn19</textarea>
<hr>
    <footer class="sheet-footer flexrow">
        <button id="dod-importer-cancel" type="reset" name="reset">
            <i class="fas fa-ban"></i> Cancel
        </button>
        <button id="dod-importer-import" type="submit" name="submit">
            <i class="far fa-save"></i>
            Import
        </button>
    </footer>
</form>
